/* Genel Stil Ayarları */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Ana İçerik */
main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.8em;
  color: #4CAF50;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}

a {
  font-size: 1em;
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Düğme */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Alt Bilgi */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

footer p {
  margin: 0;
}
