body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #4CAF50;
}

ul {
    list-style-type:nano;
    padding: 0;
}

    ul li {
        margin-bottom: 10px;
        text-align: center; /* Baþlýk ve linklerin ortalanmasýný saðlar */
        max-width: 400px; /* Kapsayýcýnýn geniþliðini sýnýrlama */
        margin: 0 auto; /* Yalnýzca yatayda ortalama */
        max-width: 500px;
    }

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin: 20px 0;
    font-size: 0.9em;
    color: #777;
}

